.container { 
  color: #333; 
  font-size: 1em;
  font-family: "helvetica neue", helvetica, arial, serif;
  line-height: 1;
  margin: 20px auto;
  width: 250px;
  text-align: justify;
  }
.footer {
  color: #666;
  font-size: 12px;
  line-height: 1.3;
  margin-top: 20px;
}
a {
  color: #666;
}


.weather {
  border-top: 20px solid #333;
  border-bottom: 20px solid #333;
  padding-bottom: 5px;
  font-weight: bold;
}
  .next {
    margin: 10px 0 5px 0;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 14px;
  }
  .temp {
    line-height: .85;
  }
